# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
.installed.cfg
*.egg

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea/
.vscode/

# Data
*.xlsx
*.csv
data/ 